
/*
   ------------------------------------------------------
						BLOG
   ------------------------------------------------------
*/
h1.entry-title { margin-bottom: 0; }
.entry-title a:hover { border: 0; }

#content {
	margin-right: -35px;
/*	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);*/
}

.format-standard{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
#blog-entry .col1 { width: 218px; }
#blog-entry .col2 { width: 456px; }
#blog-entry .col3 { width: 694px; }

h1.entry-title,
.entry-content { padding: 20px; }

h1.entry-title { padding-right: 70px; }

h1.entry-title { font-size: 24px; font-weight: normal; line-height: 26px; text-transform: uppercase;}
h1.entry-title a { color: #363636; }
#blog-entry .entry-content { font-size: 16px; }

.entry-format { text-align: center; color: #929292; font-size: 18px; height: 46px; width: 46px; position: absolute; right: 10px; background: url(img/sprites.png) 0 0 no-repeat; top: 10px; border: 1px solid transparent; -moz-border-radius: 70px; -webkit-border-radius: 70px; border-radius: 70px; }
.entry-format.border {border-color: rgba(0, 0, 0,0.2); -moz-border-radius: 70px; -webkit-border-radius: 70px; border-radius: 70px; }
.entry-format i { position: relative; line-height: 47px; }

.entry-meta { padding: 10px 20px; color: #FFF; font-size: 11px; background: #000 url(img/pattern01.png) left top; }
.entry-meta span:last-child { margin-left:0; }

.entry-share { position: relative; float: right; cursor: pointer; }
.entry-share:hover .icon-plus { color: #363636; }
.entry-share i { padding-left: 5px; }
.entry-share .icon-facebook { padding-left: 8px; }
.entry-share .ct-fb, .entry-share .ct-twitter, .entry-share .ct-gplus, .entry-share .ct-pinterest { width: 22px; height: 22px; line-height: 25px; background: #fff; display: block; float: left; }
.entry-share .ct-fb { background: #3b5998; }
.entry-share .ct-twitter { background: #00aced; }
.entry-share .ct-gplus { background: #d64431; }
.entry-share .ct-pinterest { background: #cc2127; }
.entry-share-icons { position: absolute; bottom: -20px; bottom: -20px; right:-105px; width: 90px;}
.entry-share-icons i { font-size: 14px !important; line-height: 14px; padding-right: 0px !important; padding-left: 4px; }
.entry-share-icons a:hover { border: 0; color:#FFF; }
.entry-share-icons {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.entry-share:hover .entry-share-icons { right:-10px; opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); }

.entry-meta [class^="icon-"],
.entry-meta [class*=" icon-"],
.entry-extra [class^="icon-"],
.entry-extra [class*=" icon-"] { font-size: 14px; padding-right: 3px; }

.entry-meta [class^="meta-"] { float: right; margin-left: 20px; line-height: 48px; }
.entry-meta .icon-eye-open { font-size: 15.5px; }
.entry-date { float: left; font-size: 18px; text-transform: uppercase; text-align: center; margin-right: 20px; }
.date-month { display: block;}
.meta-category a:hover,
.meta-author a:hover,
.meta-tags a:hover { border-bottom: 1px solid #FFF; }

.meta-tags { text-transform: capitalize; }

.comments-link { float: left; }
.comments-link.white a:hover { border-bottom: 1px solid #FFF; }
.comments-link.dark a:hover { border-bottom: 1px solid #363636; }
.comments-link.white a { color: #FFF; }
.comments-link.dark a { color: #363636; }

.post-block {
	background: #FFF;
	width: 277px; /* 4 columns */
	margin-right: 25px;
	margin-bottom: 25px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    2px 2px 7px rgba(0, 0, 0, 0.5);
	box-shadow:         2px 2px 7px rgba(0, 0, 0, 0.5);
}
.centered {	margin: 0 auto; }
.post-block .entry-thumb 	   { position: relative; display: block; line-height: 0  }
.post-block .entry-thumb img:hover { opacity: 0.7;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); }


/* Video post format */
.format-video .entry-thumb, .embed-youtube { position: relative; padding-bottom: 56.25%; height: 0; }
.format-video .entry-thumb iframe, .embed-youtube iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Audio post format */
.format-audio .entry-thumb iframe { min-height: 160px; width: 100%; }

.no-top-padding .entry-content { padding-top: 0; }



/*
   ------------------------------------------------------
					INFINITE SCROLL
   ------------------------------------------------------
*/
#infscr-loading {
	position: absolute;
	left: 40.5%;
	bottom: 10px;
	display: block;
	text-align: center;
/*	background: #000;
	background: rgba(0, 0, 0, 0.8);*/
}

#infscr-loading > img {
	padding: 10px;
	margin-bottom: 5px;
	background: #FFF;
	-moz-border-radius: 96px; -webkit-border-radius: 96px; border-radius: 96px;
	border: 1px solid #000;
/*	opacity: .9
*/	
}
#infscr-loading > div {
	padding: 5px 10px;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	color: #000;
}

/*
   ------------------------------------------------------
					Blog pagination
   ------------------------------------------------------	
*/
.pagination { position:relative; font-size:12px; margin: 0; }
.page .pagination { margin-top: 30px; }
.container-pagination {
	background: #FBFBFB;
	border-top: 4px solid #a3a6a8;
	border-bottom: 4px solid #a3a6a8;
}

#entry-comments .pagination { margin-top: 15px; margin-bottom: 30px; }
 
.pagination span, .pagination a {
	display:block;
	float:left;
	margin-right: 2px;
	padding:6px 9px 6px 9px;
	text-decoration:none;
	width:auto;
	color:#363636;
}

.pagination a {	background: #EBEBEB; }
.pagination a:hover { color:#fff !important; background: #c2374c; border: none; }
.pagination .current { padding:6px 9px 6px 9px; background: #c2374c; color:#fff; }
.blog-navigation { text-align:center; }

.page-desc { color: #9D9D9D;font-style: italic; margin-bottom:20px; }
.page .edit-link {
	display: block;
	padding: 0 20px;
	padding-bottom: 20px;
}

.page .entry-title { 
	border-top: 4px solid #a3a6a8;
	border-bottom: 4px solid #a3a6a8;
	padding: 10px 20px;
}
.entry-page { background: #FFF; }
.entry-page-content { padding: 20px; }
.page #content { margin-bottom: 35px; }
.entry-page .info_fieldset { padding: 20px; padding-top: 0; }
.google-map iframe { width: 100%; }
.page #comments { padding-bottom: 20px; }

.page #commentform,
.page #commentform p { margin-bottom: 0; }



.demo-class { color: #ccc }
.demo-class strong { color: #fff }

.nav-previous {	float: left; width: 50%; }
.nav-next {	float: right; text-align: right; width: 50%; }
.nav-single .widget-devider { margin-bottom: 15px; margin-top: 30px;}
.nav-single-hidden { display: none; }

.home .container-pagination { margin-top: 15px; }



/* 
   ------------------------------------------------------
						Custom Widgets
   ------------------------------------------------------
*/
.widget {
	background: #FFF;
	overflow: hidden;
	padding: 20px;
	-webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    2px 2px 7px rgba(0, 0, 0, 0.5);
	box-shadow:         2px 2px 7px rgba(0, 0, 0, 0.5);
}

.widget-title {
	font-size: 16px;
	font-family: inherit;
	font-weight: normal;
	background: #FBFBFB;
	border-top: 4px solid #a3a6a8;
	border-bottom: 4px solid #a3a6a8;
	line-height: 18px;
	margin: -20px;
	margin-bottom: 20px;
	padding: 10px 20px;
	text-transform: uppercase;
	word-spacing: 5px;
}

.category-item, .title-block .category-item { top:0px; right:0px; font-size: 12px; }
.category-item a { color:#FFF; text-decoration:none; padding: 3px 5px; display: inline-block; text-transform: uppercase; }
.category-item a:hover { border: 0; color: #FFF; }
.carousel-thumb .category-item { position:absolute; max-width: 75%; }
.carousel-thumb { position:relative;overflow:hidden; }

.carousel-thumb { background-color:#FFF; }
.carousel-thumb .video, .entry-thumb .video { 
	position: absolute;
	z-index: 1;
	top: 42%;
	left: 44%;
	width: 32px;
	height: 32px;
     border-radius: 32px;
     -moz-border-radius: 32px;
     -webkit-border-radius: 32px;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 14px;
	/*background-image: url('img/icons/video-icon.png');	*/
	}
.carousel-thumb:hover .video.youtube a, .entry-thumb:hover .video.youtube a { color: #c83e39; }
.carousel-thumb:hover .video.vimeo a, .entry-thumb:hover .video.vimeo a { color: #47bcff; }
.carousel-thumb:hover .video.dailymotion a, .entry-thumb:hover .video.dailymotion a { color: #20b0ca; }
.carousel-thumb .video a, .entry-thumb .video a { display: block; width: 100%; height: 100%; color: #FFF; }
.carousel-thumb .video i, .entry-thumb .video i { line-height: 32px; }
.carousel-thumb .video a:hover, .entry-thumb .video a:hover { border: 0; }
.carousel-thumb .title-mask {
	color:#000;
	background: #FFF;
	background: rgba(255,255,255,0.7);
	position: absolute;
	bottom:-80px;
	padding: 10px;
	width:284px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.carousel-thumb:hover .title-mask {	bottom: 0px; }
.ct_carousel_widget { padding:0; background: none; box-shadow: none; }

.ico-plus {background:url('img/icons/icons-sprite.png') no-repeat 0 -30px;width:12px; height:15px;margin-right: 3px;display:inline-block;vertical-align: text-top;margin-left:1px;margin-top: 1px;}

.widget-carousel .carousel-thumb .title-mask { width:130px; }
.carousel-thumb .title-mask h5 { color:#FFF; margin-bottom:0;}
.carousel-thumb .entry-content { display:inline-block; }

.review-box { position: absolute; top: 0; left: 0; background-color: #fff; padding: 3px; }



/* 
   ------------------------------------------------------
				Retina Display Media Query
   ------------------------------------------------------
*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	/* Retina-specific stuff here */

}

/* 
   ------------------------------------------------------
				For stupid IE
   ------------------------------------------------------
*/

.ie8 .related-posts-single img,
.ie8 .widget-post-small-thumb img  { max-width: inherit; }
.ie8 .widget-thumb li { float: left; margin-right: 8px; margin-top: 8px; position: relative; }
.ie8 .widget-thumb li:first-child { margin-right: 0px; margin-top: 0px; }
.ie10 .carousel-thumb img,
.ie10 .widget-post-big-thumb img,
.ie10 .widget-big-thumb img,
.ie10 .related-posts-single img { visibility: visible !important; opacity: 1 !important; }
.ie8 #mainmenu-block-bg { background:#FBFBFB !important; }

.accordion-heading a:hover { border: 0; }

/* DEMO */
.ct-the-icons { list-style:none; margin:0; }
.ct-the-icons li {
	float: left;
	width: 25%;
	line-height: 25px;
}

.nav>li>a:hover { border: 0; }


/* -------- Add for v 1.01 ------------------- */
.entry-summary { padding: 20px;}
.search-results .archive-title { margin-bottom: 0; }

.masonry-box { float: left; }

/* -------- Added in v 1.08 ------------------- */
.single .masonry-box { float: none; }